<html>
  <head>
    <title>404</title>
  </head>
   <body>
     <h1>Page Was Not Found</h1>        
        <p>{{url}}</p>
    <br><h2><a href="/consumerLogin">Consumer Log in Page</a></h2>
    <br><h2><a href="/merchantLogin">Merchant Log in Page</a></h2>
    

    
   </body>
</html>