<!DOCTYPE html>
 <html><head><title>{{title}}</title></head>
 <body>
 <h1>Hello {{username}}! Choose a restaurant<h1>

      <form action = "/KFC" method = "POST">

         <!-- Lables for operation type and radio buttons to select type -->
         {{!-- <label for="KFC">KFC</label>
         <input type="radio"  name="merchant" id="KFC" value="KFC"><br> --}}
         <input type="submit"  name="submit" value="GoTo KFC"><br>
         <!-- Reset clears all inputs -->
       	 {{!-- <input type="reset" name="reset" value="Reset"><br> --}}

         
      </form>

      <form action = "/pizzaHut" method = "POST">

         <!-- Lables for operation type and radio buttons to select type -->
         {{!-- <label for="pizzaHut">Pizza Hut</label>
         <input type="radio"  name="merchant" id="pizzaHut" value="Pizza Hut"><br> --}}
         <input type="submit"  name="submit" value="GoTo PizzaHut"><br>
         <!-- Reset clears all inputs -->
       	 {{!-- <input type="reset" name="reset" value="Reset"><br> --}}

         
      </form>

 <br/><h2>user is: {{user}}</h2>
 <br/><h2><a href=\index.hbs\>Log in Page</a></h2>
 </body></html>