<!DOCTYPE html>
 <html><head><title>{{title}}</title></head>
 <body>
 <h1>Your are {{userType}}, Welcome. Please log in<h1>


 <form action = "/conMain" method = "POST">
         Username: <input type = "text" name = "username"> <br>
         Password : <input type = "text" name = "password"> <br>

         <input type="submit"  name="enter" value="Enter"><br>
         <!-- Reset clears all inputs -->
       	 <input type="reset" name="reset" value="Reset"><br>

        
      </form>
 <br/><h2><a href=\index.hbs\>Back to Log in Page</a></h2>
 </body></html>
