<!DOCTYPE html>
 <html><head>
    <title>{{title}}</title>
    <style>
    .error_msg {
      color:red; 
     }
     .order_status {
      color:green; 
     }
     
     </style> 
    </head>
 <body>
    
 <h1>Hello {{username}}! Choose a restaurant<h1>
     <h2 class="error_msg">{{error_msg}}</h2>
    <h2 class="order_status">{{order_status}}</h2>


    <a href="/orderKFC">Order KFC</a> <br/> <br/> 
     <a href="/orderPizzaHut">Order Pizza Hut</a>

 
 <br/><h2><a href="/registrationConsumer">Registration Page</a></h2>
  <h2><a href='/logout'>Logout</a></h2>
 </body></html>