<!DOCTYPE html>
 <html><head><title>{{errorType}}</title></head>
 <body>
 <h1>{{errorType}}<h1>
     <h3>The problem is: {{Result}}</h3>
 <br/><h2><a href="/index">Log in Page</a></h2>
 <h2><a href='/logout'>Logout Page</a></h2>
 </body></html>
