<html>
  <head>
    <title>{{title}}</title>
  </head>
   <body>
     <h1>{{welcomMsg}}</h1>        

    <br><h2><a href="/consumerLogin">Consumer Log in Page</a></h2>
    <br><h2><a href="/merchantLogin">Merchant Log in Page</a></h2>
    

    
   </body>
</html>