<html>
  <head>
    <title>{{title}}</title>
  </head>
   <body>
     <h1>{{welcomMsg}}</h1>        

    <br><h2><a href=\consumerHome.hbs>Consumer Log in Page</a></h2>
    <br><h2><a href=\merchantHome.hbs>Merchant Log in Page</a></h2>
    

    
   </body>
</html>