<html>
  <head>
    <title>{{title}}</title>
  </head>
   <body>
     <h1>{{welcomMsg}}</h1>        

        Welcome to KFC user is : {{user}}
    
    
      <form action = "/orderKFC" method = "POST" name ="items">
         
         <input type="checkbox" name="foods" id="1" value="wings" />
         <label for="send_newsletter">Wings 1$</label><br>
         <input type="checkbox" name="foods" id="2" value="thighs" />
         <label for="send_newsletter">Thighs 2$</label><br>

         <input type="submit"  name="enter" value="Enter"><br>
         <!-- Reset clears all inputs -->
       	 <input type="reset" name="reset" value="Reset"><br>

        
      </form>


   </body>
</html>