<!DOCTYPE html>
 <html><head><title>{{title}}</title>
  <style>
.error {
         color:red; 
}
 </style>
 </head>
 <body>
 <h1>Your are {{userType}}, Welcome. Please log in<h1>
 <br/><h2><a href=\index.hbs\>Log in Page</a></h2>
<h4>{{errorMsg}}</h4>
 <form action = "/merchantMain" method = "POST">
         Username: <input type = "text" name = "username"> <br>
         Password : <input type = "text" name = "password"> <br>

         <input type="submit"  name="enter" value="Enter"><br>
         <!-- Reset clears all inputs -->
       	 <input type="reset" name="reset" value="Reset"><br>

         Previous logged in as : {{previousUser}}
      </form>
 <br/><h2><a href="/registrationMerchant">Registration Page</a></h2>
  <h2><a href='/logout'>Logout</a></h2>
 </body></html>
