<!DOCTYPE html>
 <html><head><title>{{title}}</title></head>
 <body>
 <h1>Hello {{username}}!<h1>
 <h1>You have the following orders <h1></h1>
 <br/><h2><a href=\index.hbs\>Log in Page</a></h2>
 </body></html>