<html>
  <head>
    <title>{{title}}</title>
  </head>
   <body>
     <h1>{{welcomMsg}}</h1>        

        Welcome to Pizza Hut user is : {{user}}
    
    
      <form action = "/orderPizzaHut" method = "POST" name = "items">
         
         <input type="checkbox" name="food" id="1" value="fourCheese" />
         <label for="send_newsletter">Four Cheese 3$</label><br>
         <input type="checkbox" name="food" id="2" value="hawaii" />
         <label for="send_newsletter">Hawaii 4$</label><br>

         <input type="submit"  name="enter" value="Enter"><br>
         <!-- Reset clears all inputs -->
       	 <input type="reset" name="reset" value="Reset"><br>

        
      </form>


   </body>
</html>